# Virtual enironments
venv/

# Tools
bbmap/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.logs
logs

# Data
data/P3408_LUCA-TCRA3/
data/P3408_LUCA-TCRA3-3xNNK/
data/P3481_LUCA-TCRDMF5/
data/P3569_LUCA-TCRA3_KH157/
output/
backup/