# Virtual enironments

venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.logs

# Data
data/
shared_data/
output/
